@import './variaveis.scss';

.mainHome {
  display: flex;
  flex-direction: row;
  gap: 6vh;
  background-color: $cor-fundo;
  height: 100vh;
  padding: 10vh; /* Adicione o espaçamento desejado para a margem interna */

}

.img-home {
  height: 300px;
  width: 780px;
  margin: 10px;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Isso faz com que a seção principal ocupe todo o espaço disponível na largura */
  margin-top: 15px;
}

article {
  display: flex;
  gap: 6vh;

}

.cards-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.tituloSolucao {
  width: 150px;
  margin-top: 0px;
  text-align: center;
  color: $cor-titulo;
  margin-bottom: 30px;
}

.titulo-sol{
  color: $cor-titulo;
}

.escrita-sol{
  color: $cor-escrita
}


.fundopreto{
  background-color: $cor-fundo;
}

.card-custom{
  background-color: $cor-fundo;
  color: $cor-escrita;
}

.banner {
  max-width: 100%;
  height: 230px;
  margin-top: 25px;
  border: 1px solid #bebebe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
  }

  a {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #bebebe;
    padding: 10px;
    margin: 10px;
  }
}

aside {
  display: flex;
  flex-direction: column;
  width: 75vh; // Ajuste a largura conforme necessário
  border: 1px solid #bebebe;
  padding: 10px;
  margin-top: 15px;
}

.vantagens {
  background-color: $cor-fundo;
}

@media (max-width: 669px) {
  .mainHome {
    flex-direction: column;
    align-items: center; // Adicionado para centralizar os itens na direção transversal (eixo cruzado)
  }

  aside {
    width: 100%; // Modificado para ocupar 100% da largura em telas menores
  }
}

section {
  display: flex;
  justify-content: space-around; // Ou utilize 'space-between' para espaçamento entre os cards
  flex-wrap: wrap; // Permite que os cards ocupem linhas adicionais quando não houver espaço suficiente
}

.cards-container {
  display: flex;
  gap: 100px; /* Adicione o espaçamento desejado entre os cards */
  flex-wrap: wrap;
}
