@import './variaveis.scss';

.mainHome {
  display: flex;
  flex-direction: row;
  gap: 6vh;
  background-color: $cor-fundo;
  height: 100vh;
  padding: 10vh;
  /* Adicione o espaçamento desejado para a margem interna */

}

.img-home {
  height: 300px;
  width: 780px;
  margin: 10px;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Isso faz com que a seção principal ocupe todo o espaço disponível na largura */
  margin-top: 15px;
}

article {
  display: flex;
  gap: 6vh;
}



.cards-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.tituloSolucao {
  width: 150px;
  margin-top: 0px;
  text-align: center;
  color: $cor-titulo;
  margin-bottom: 30px;
}

.titulo-sol {
  color: $cor-titulo;
  margin-top: 15px;
}

.escrita-sol {
  color: $cor-escrita;
  width: 60vh;
  font-size: 30px;
  margin: 20px;
}

.escrita-aside {
  color: $cor-escrita;
  font-size: 23px;
  margin: 10px;
  justify-content: space-between;
}

.fundopreto {
  background-color: $cor-fundo;
}

.card-custom {
  background-color: $cor-fundo;
  color: $cor-escrita;
}

.banner {
  max-width: 100%;
  height: 230px;
  margin-top: 25px;
  border: 1px solid #bebebe;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .mais-informacao {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #bebebe;
    padding: 10px;
    margin: 10px;
    font-size: 50px;
    height: 30px;
    width: 100px;
  }


  p {
    text-align: center;
  }

  a {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #bebebe;
    padding: 10px;
    margin: 10px;
  }
}

aside {
  display: flex;
  flex-direction: column;
  width: 75vh; // Ajuste a largura conforme necessário
  border: 1px solid #bebebe;
  padding: 10px;
  margin-top: 15px;
}


.vantagens {
  background-color: $cor-fundo;
}

@media (max-width: 669px) {
  .mainHome {
    flex-direction: column;
    align-items: center; // Adicionado para centralizar os itens na direção transversal (eixo cruzado)
  }

  aside {
    width: 100%; // Modificado para ocupar 100% da largura em telas menores
  }
}

section {
  display: flex;
  justify-content: space-around; // Ou utilize 'space-between' para espaçamento entre os cards
  flex-wrap: wrap; // Permite que os cards ocupem linhas adicionais quando não houver espaço suficiente
}

.cards-container {
  display: flex;
  gap: 100px;
  /* Adicione o espaçamento desejado entre os cards */
  flex-wrap: wrap;
}

.banner-container {
  position: relative;

  .mais-informacao {
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #bebebe;
    padding: 10px;
    margin: 10px;
    height: 20px;
    width: 60px;
    font-size: 5px;
  }
}


@media (max-width: 768px) {
  .mainHome {
    flex-direction: column;
    align-items: center;
    padding: 5vh; // Ajuste o espaçamento interno para telas menores
    height: 1000px;
  }

  .img-home {
    width: 100%; // Faz com que a imagem ocupe toda a largura disponível
    height: auto; // Mantém a proporção da imagem
    margin: 10px 0; // Ajusta a margem superior e inferior da imagem
  }

  section {
    margin-top: 10px; // Reduz a margem superior da seção
  }

  .cards-section {
    justify-content: center; // Centraliza os cards
  }

  .tituloSolucao {
    width: auto; // Permite que o título se ajuste à largura do conteúdo
    margin-bottom: 15px; // Reduz a margem inferior do título
  }

  .titulo-sol {
    margin-top: 10px; // Ajusta a margem superior do título
  }

  .escrita-sol {
    width: auto; // Permite que o texto se ajuste à largura do conteúdo
    font-size: 10px; // Reduz o tamanho da fonte
    margin: 10px 0; // Ajusta a margem superior e inferior
  }

  .escrita-aside {
    font-size: 9px; // Reduz o tamanho da fonte
    margin: 10px 0; // Ajusta a margem superior e inferior
  }

  .banner {
    height: 150px; // Reduz a altura do banner
    margin-top: 15px; // Ajusta a margem superior do banner
  }

  .banner .mais-informacao,
  .banner a {
    position: static; // Remove a posição absoluta
    margin: 10px 0; // Ajusta a margem superior e inferior
  }

  aside {
    width: 100%; // Ocupa toda a largura disponível
    height: 100000px;
  }

  .cards-container {
    gap: 20px; // Ajusta o espaçamento entre os cards
  }
}
